*/data/*
*/logs/*
etcd/data/*
etcd/data_gray/*
*/zookeeper_conf/*
*/zookeeper_data/*
kafka/kafka_logs/*
kafka/kafka_conf/*
kafka/kafka_2.11-1.0.0/*
gitlab/.ssh/*
gitlab/.cache/*
gitlab/.bundle/*
gitlab/.gitconfig
gogs/gogs/*
gogs/ssh/*
gogs/git/*
minikube-istio/istio-1.0.0/*
drone-mysql/drone/*
drone-mysql/gogs/*
drone-mysql/mysql/*
mongodb/data/*
.DS_Store
phabricator/mariadb_data/*
phabricator/phabricator_data/*

