*/data/*
*/logs/*
docker-scripts/docker-registry/data/*
docker-scripts/etcd/data/*
docker-scripts/etcd/data_gray/*
docker-scripts/zookeeper_conf/*
docker-scripts/zookeeper_data/*
docker-scripts/kafka/kafka_logs/*
docker-scripts/kafka/kafka_conf/*
docker-scripts/kafka/kafka_2.11-1.0.0/*
docker-scripts/kafka/zookeeper_conf/*
docker-scripts/kafka/zookeeper_data/*
docker-scripts/gitlab/.ssh/*
docker-scripts/gitlab/.cache/*
docker-scripts/gitlab/.bundle/*
docker-scripts/gitlab/.gitconfig
docker-scripts/gitlab/data/*
docker-scripts/gogs/gogs/*
docker-scripts/gogs/ssh/*
docker-scripts/gogs/git/*
docker-scripts/minikube-istio/istio-1.0.0/*
docker-scripts/drone-mysql/drone/*
docker-scripts/drone-mysql/gogs/*
docker-scripts/drone-mysql/mysql/*
docker-scripts/mysql/data/*
docker-scripts/mysql/logs/*
docker-scripts/mongodb/data/*
docker-scripts/influxdb/data/*
docker-scripts/redis/conf/*
docker-scripts/redis/data/*
docker-scripts/redis/logs/*
docker-scripts/zipkin/prometheus/*
docker-scripts/drone-on-kubernetes/data/*
.DS_Store
docker-scripts/phabricator/mariadb_data/*
docker-scripts/phabricator/phabricator_data/*
docker-scripts/phabricator_old/mariadb_data/*
docker-scripts/phabricator_old/phabricator_data/*
docker-scripts/efb/config.py
docker-scripts/efb/tgdata.db
dump.rdb

